use master
go
if DB_ID('truonghocdb') is not null
	drop database truonghocdb
go
create database truonghocdb
go
USE [truonghocdb]
GO
/****** Object:  Table [dbo].[lophoc]    Script Date: 12/15/2015 07:56:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophoc](
	[malop] [int] IDENTITY(1,1) NOT NULL,
	[tenlop] [nvarchar](30) NULL,
	[giangvien] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lophoc] ON
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (1, N'Khoa học máy tính', N'Mai Hương')
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (2, N'Công nghệ thông tin', N'Hải Long')
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (3, N'Kỹ thuật phần mềm', N'Văn Tuấn')
SET IDENTITY_INSERT [dbo].[lophoc] OFF
/****** Object:  Table [dbo].[sinhvien]    Script Date: 12/15/2015 07:56:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](30) NULL,
	[diachi] [nvarchar](30) NULL,
	[dienthoai] [nvarchar](12) NULL,
	[malop] [int] NULL,	 
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_malop] FOREIGN KEY([malop])
REFERENCES [dbo].[lophoc] ([malop])
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [FK_malop]
GO

SET IDENTITY_INSERT [dbo].[sinhvien] ON
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop]) VALUES (1, N'Duy Quang', N'Hà nội', N'0931', 2)
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop]) VALUES (2, N'Việt Phương', N'Hà nam', N'0523', 1)
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop]) VALUES (3, N'Huyền Trang', N'Hải phòng', N'0904', 2)
SET IDENTITY_INSERT [dbo].[sinhvien] OFF
/****** Object:  StoredProcedure [dbo].[xoaSinhvien]    Script Date: 12/15/2015 07:56:21 ******/
 go
 
 
 