use master
go
if DB_ID('sinhviendb2') is not null
	drop database sinhviendb2
go
create database sinhviendb2
go
USE [sinhviendb2]
GO
/****** Object:  Table [dbo].[lophoc]    Script Date: 12/15/2015 07:56:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophoc](
	[malop] [int] IDENTITY(1,1) NOT NULL,
	[tenlop] [nvarchar](30) NULL,
	[giangvien] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lophoc] ON
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (1, N'Khoa học máy tính', N'Mai Hương')
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (2, N'Công nghệ thông tin', N'Hải Long')
INSERT [dbo].[lophoc] ([malop], [tenlop], [giangvien]) VALUES (3, N'Kỹ thuật phần mềm', N'Văn Tuấn')
SET IDENTITY_INSERT [dbo].[lophoc] OFF
/****** Object:  Table [dbo].[sinhvien]    Script Date: 12/15/2015 07:56:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](30) NULL,
	[diachi] [nvarchar](30) NULL,
	[dienthoai] [nvarchar](12) NULL,
	[malop] [int] NULL,
	[anh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_malop] FOREIGN KEY([malop])
REFERENCES [dbo].[lophoc] ([malop])
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [FK_malop]
GO

SET IDENTITY_INSERT [dbo].[sinhvien] ON
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop], [anh]) VALUES (1, N'Duy Quang', N'Hà nội', N'0931', 2, N'a1.jpg')
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop], [anh]) VALUES (2, N'Việt Phương', N'Hà nam', N'0523', 1, N'a2.jpg')
INSERT [dbo].[sinhvien] ([masv], [hoten], [diachi], [dienthoai], [malop], [anh]) VALUES (3, N'Huyền Trang', N'Hải phòng', N'0904', 2, N'a3.jpg')
SET IDENTITY_INSERT [dbo].[sinhvien] OFF
/****** Object:  StoredProcedure [dbo].[xoaSinhvien]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoaSinhvien]
@masv int
as
delete from sinhvien where masv=@masv
GO
/****** Object:  StoredProcedure [dbo].[updateSinhvien]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateSinhvien]
@hoten as nvarchar(20),
@diachi as nvarchar(20),
@dienthoai as nvarchar(20),
@malop as int,
@masv as int
as
update sinhvien set hoten=@hoten, diachi=@diachi,
dienthoai=@dienthoai, malop=@malop
where masv=@masv
GO
/****** Object:  StoredProcedure [dbo].[demSV]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[demSV]
@dc nvarchar(20),
@sl int out
as
select @sl=COUNT(diachi) from sinhvien where diachi=@dc
GO
/****** Object:  StoredProcedure [dbo].[demDiachi]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[demDiachi]
@diachi nvarchar(30),
@soluong int out
as
select COUNT(diachi) 
from sinhvien
where diachi = @diachi
GO
/****** Object:  StoredProcedure [dbo].[dem]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dem]
@dc nvarchar(20),
@sl int out
as
select @sl=COUNT(diachi) from sinhvien 
where diachi=@dc
GO
/****** Object:  StoredProcedure [dbo].[countSV]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countSV]
@dc nvarchar(30),
@sl int out
as
select @sl=COUNT(*) from sinhvien
where diachi=@dc
GO
/****** Object:  StoredProcedure [dbo].[selectSinhvien]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selectSinhvien]
@diachi nvarchar(20), 
@soluong int out
as
select @soluong=COUNT(diachi) from sinhvien where diachi='Ha noi'
GO
/****** Object:  StoredProcedure [dbo].[nhapSinhvien]    Script Date: 12/15/2015 07:56:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[nhapSinhvien]
@hoten nvarchar(20), 
@diachi nvarchar(20),
@dt nvarchar(12),
@malop int,
@anh nvarchar(30)
as
insert into sinhvien values(@hoten,@diachi,@dt,@malop,@anh)
GO
 